body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
