body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    text-align: center;
}

.button {
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

.button:hover {
    background-color: #2980b9;
}
