html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

table {
    width: 100%;
    height: 150px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    vertical-align: middle;
    padding-left: 10px;
    font-family: Arial, sans-serif;
}

.cell-left {
    background-color: #c9cf8a;
}

.cell-right {
    background-color: #f9cbb5;
}
