html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 2vw;
    overflow: hidden;
    white-space: nowrap;
}
